<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/bootstrap.css">

<style type="text/css">

  body {
    background: #f9f9f9;
  }

  .nav {
    background: #fff;
  }
  .main {
    padding-top: 96px;
  }

  .profile_icon {
    border-radius: 50%;
    border: 1px solid #ededed;
  }

  .header {
    style="font-size: 32px;
    line-height: 40px;
    font-weight:200;
  }

  .post {
    padding:0px;
    margin-bottom:16px;
    margin-top:16px"
  }

  .post img {
    width:100%
  }

  .nav-logo {
    padding: 12px;
  }

  .search-container {
    padding:24px 0 0 0
  }

  .searchbar {
    background: #f9f9f9;
  }

  .post-container {
    border:1px solid #ededed;
    border-radius:2px;
    background: #fff;
    margin-top: 24px;
  }

  .post-container img {
    max-width: 100%;
  }

</style>
