<nav class="navbar navbar-defualt navbar-fixed-top nav">
  <div class="container">

    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <div class="nav-logo">
          <a href="/">
            <!-- <img src="https://lh3.googleusercontent.com/vJnL6kqUh5cT1LMuKHpWPe6KIL-9SbTON28iOU7CxLYdYyh_SbSNWRZnCcdOOCz_iLqE8ASZX2xvxued2rVr7ZGh" alt=""> -->

            <img src="https://lh3.googleusercontent.com/20h-1m0bninyeAXtmaqYcZZJbrUeTYPDhFK2ilf7aEokDUXVbGUL6OY7QZYrj-Nz9DtymgRXrPi8QKvbqirxzgISWQ" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="search-container">
            <input class="searchbar form-control" type="text" placeholder="search...">
        </div>
      </div>
      </div>
  </div>
</nav>
