<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
	<title>ERRORS!</title>
</head>
<body>
  {{>nav}}
	<div class="container main">
		<div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 style="text-align: center">Something Went Wrong!</h2>
        <h4>Instagram won't let me search!</h4>
        <p>

        </p>
      </div>
		</div>


	</div>

</body>
</html>
